body {
    background-color: rgb(150, 250, 180);
    color: rgb(100, 120, 150);
}

button {
    background-color: white;
    color: rgb(80, 80, 80);

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

h1, h2 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

input[type=text], input[type=password], select {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

